<Body:>
  <section id="todoapp">
    <view name="header"/>
    <view name="main"/>
    <view name="footer" />
  </section>

  <header:>
    <header id="header">
      <h1>todos</h1>
      <form id="new-todo" on-submit="addTodo(_page.newTodo)">
        <input id="new-todo" placeholder="What needs to be done?" autofocus value="{{_page.newTodo}}">
      </form>
    </header>

  <main:>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list">
        {{each _page.todos as #todo, #index}}
        <li class="{{if #todo.completed}}completed{{/}}">

          <div class="view">
            <input class="toggle" type="checkbox" checked="{{#todo.completed}}">
            <label>{{#todo.text}}</label>
            <button class="destroy" on-click="deleteTodo(#todo.id)"> </button>
          </div>
          <form >
            <input class="edit">
          </form>
        </li>
        {{/each}}
      </ul>
    </section>

  <footer:>
    <footer id="footer">
      <span id="todo-count"><strong>0</strong>
        <span>items left</span>
      </span>
      <ul id="filters">
        <li><a href="/" class="selected">All</a></li>
        <li><a href="/active">Active</a></li>
        <li><a href="/completed">Completed</a></li>
      </ul>
      <button id="clear-completed">Clear completed (0)</button>
    </footer>
